@mixin respond-to($media) {
  @if $media == 'xs' {
    @media only screen and (max-width: 639px) {
      @content;
    }
  } @else if $media == 'less-sm' {
    @media only screen and (max-width: 979px) {
      @content;
    }
  } @else if $media == 'sm' {
    @media only screen and (min-width: 640px) and (max-width: 979px) {
      @content;
    }
  } @else if $media == 'md' {
    @media only screen and (min-width: 980px) {
      @content;
    }
  }
}