@import 'mixins';

body {
  padding-bottom: 20px;
  background: #018a82;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  margin: 0;
  text-align: center;
  background: #32434e;
  color: #fff;
  font-size: 1.5em;
  padding: 10px 0;
  text-transform: uppercase;
}

#candidatos {
  padding: 30px 0;

  figure {
    text-align: center;
    @include respond-to('sm') {
      padding-left: 5px;
      padding-right: 5px;
    }
    @include respond-to('md') {
      width: 9%;
      padding-left: 10px;
      padding-right: 10px;
    }

    img {
      width: 100%;
      height: auto;
      border: 2px solid #F7F7F7;
      @include respond-to('xs') {
        height: 130px;
      }
      @include respond-to('sm') {
        height: 90px;
      }
      @include respond-to('md') {
        height: 90px;
      }

      &:hover {
        border-color: #F90;
      }
    }
    h2 {
      font-size: 1em;
      font-weight: normal;
      @include respond-to('less-sm') {
        font-size: .8em;
        height: 30px;
      }
    }

    &.selecao {
      img {
        border-color: #F90;
      }
      h2 {
        color: #fff;
      }
    }
  }
}

#cards {
  margin-top: 30px;

  h2,
  h3 {
    text-align: center;
    margin: 0;
  }
  h2 {
    margin: 0;
    padding: 5px;
    font-size: 1.4em;
    color: #666;
    background: #eee;
  }
  h3 {
    padding: 5px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #666;
    background: #eee;
  }
}

.card {
  background: #fff;
  padding: 15px;

  .consolidado td,
  td.valor {
    text-align: right;
  }
}

table {
  width: 100%;
}

.well {
  border-radius: 0;
  border: none;
  background: #f7f7f7;
}